{block nav}
    <a n:href="User:" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span>&nbspVýpis uživatelů</a>
{/block}

{block header}
    Přidat uživatele
{/block}

{block article}
    {control addUserForm}



