{* This is the welcome page, you can delete it *}

{block content}
<div id="banner">
	<h1 n:block=title>CMS</h1>
</div>

<p>Tato aplikace slouží jako úkol k výběrovému pohovoru do firmy IT Studio s.r.o. </p></br>
<p class="text-center"><img src="{$basePath}/img/cms.png" alt="CMS" class="img-responsive img-thumbnail" /></p>

