{block nav}
    <a n:href="default" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span>&nbspSeznam článků</a>
{/block}

{block header}
    Přidat článek
{/block}

{block article}
    {control addArticleForm}